.edu {
    box-sizing: border-box;
    width: 35%;
    height: 100%;
    text-align: left;
    gap: 24px;
    display: flex;
    flex-direction: column;
    color: #000;
}

.section-h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #000;
}

.details {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
}

.detailImg {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    color: #fff;
}

.detail p {
    /* color: #a6a6a6; */
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.university {
    color: #000;
}

.university h4,
.school h4 {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    color: #1092dd;
}

.university h5,
.school h5 {
    font-size: 11px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    /* color: #a6a6a6; */
}

.university p,
.school p {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    /* color: #a6a6a6; */
}


.skill-box{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skill{
    padding: 0.3rem 0.8rem;
    background-color: #e9e9e9;
    border-radius: 16px;
    font-size: 12px;
}
ul {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    /* gap: 4px; */
}

ul li::marker {
    font-size: 1.2em;
}
.projects .project-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-list a{
    font-weight: 400;
    font-size: 11px;
    font-family: 'Work Sans', sans-serif;
}
li {
    font-weight: 400;
    font-size: 11px;
    font-family: 'Work Sans', sans-serif;
    /* color: #a6a6a6; */
}